.first-div{
    font-size: 15px;
    background-image: url("Images/parallax1.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    min-height: 400px;
    text-align: center;
    background-position: center;
}
.website-logo{
    font-size: 24px;
    letter-spacing: 10px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 12px 24px;
}
.bg-light{
    padding: 0px;
    background: none;
    overflow: hidden;
    display: block;
}
.nav-link{
    padding: 8px 16px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #000000;
    position: sticky;
}
.nav-link:hover{
    cursor: pointer;
    background-color: lightgrey;
    color: #000000;
}
.navbar-brand{
    float: right;
}
.navbar-brand:hover{
    color: #FFFFFF;
    background-color: red;
}
h3{
    text-align: center; 
    font-size: 24px; 
    margin: 10px 0px;
    font-weight: 400;
    display: block;
}
.center{
    text-align: center;
}
.second-div{
    padding: 64px 16px;
    box-sizing: inherit;
    margin: auto;
    display: block;
    max-width: 980px;
    content: "";
    display: table;
    clear: both;
    padding-bottom: 0px;
    color: #777777;
}
.percentage{
    color: #000000;
    background: #f1f1f1;
}
.p90{
    color: #ffffff;
    background: #616161;
    width: 90%;
    text-align: center;
    padding: 4px 8px;

}
.p85{
    color: #ffffff;
    background: #616161;
    width: 85%;
    text-align: center;
    padding: 4px 8px;
}
.p75{
    color: #ffffff;
    background: #616161;
    width: 75%;
    text-align: center;
    padding: 4px 8px;
}
.wide{
    letter-spacing: 10px;
}
.rd-div{
    max-width: 980px;
    box-sizing: inherit;
    margin: auto;
    display: block;
    padding: 0px 16px 64px 16px;
    color: #777777;
}
.sec-left{
    text-align: center;
    width: 50%;
    padding: 12px 24px;
    float: left;
}
.sec-right{
    float: right;
    width: 50%;
    padding: 12px 24px;
}
.fa-user:before{
    margin-right: 16px;
}
p{
    margin: 15px 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}
.hov:hover {
    opacity: 1;
}
.hov{
    opacity: 0.5;
}
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
}
.subtitle{
    margin: 18px 0px;
    padding: 16px 0px;
    font-size: 18px;
    text-align: center;
    color: #777777;
}
.third-div{
    color: #FFFFFF;
    background-color: #616161;
    padding: 16px 0px;
}
.blocks{
    color: #FFFFFF;
    background-color: #616161;
    text-align: center;
    display: inline-block;
    margin: 16px 0px;
    width: 24%;
    font-size: 15px;
}
.span{
    font-size: 24px;
    color: #FFFFFF;
}
.forth-div{
    padding: 64px 16px;
    font-size: 15px;
    background-image: url("Images/parallax2.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    min-height: 400px;
}
.portoflio{
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    position: center;
    letter-spacing: 10px;
}
.fifth-div{
    padding: 64px 16px;
    text-align: center;
    font-size: 15px;
    color: #777777;
}
.img-button{
    padding: 0px 8px;
    margin: 16px 0px;
}
.eight-img{
    display: inline-block;
    padding: 0px 8px;
    width: 20%;
    margin-top: 16px;
}
.eight-img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.btn-light{
    padding: 12px 24px;
    margin: 64px 0px 0px;
    font-size: 15px;
    background-color: #F1F1F1;
    color: #000000;
}
.btn-light:hover{
    background-color: lightgrey;
}
.sixth-div{
    padding: 64px 16px;
    font-size: 15px;
    background-image: url("Images/parallax3.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    min-height: 400px;
}
.contact{
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    position: center;
    letter-spacing: 10px;
}
.seventh-div{
    padding: 64px 16px;
    text-align: center;
    font-size: 15px;
    content: "";
    display: table;
    clear: both;
    color: #777777;
}

.w3col{
    float: left;
    padding: 0.15px 16px;

    width: 33.333%;
    padding-bottom: none;
}
img.w3-image{
border-radius: 4px;
width: 100%;
margin: 0px;
padding: 0px;
float: left;
height: auto;    
vertical-align: middle;

}
.row{
    padding: 32px 0px;
    margin: 16px 0px;
    color: #777777;
    font-size: 15px;
    height: auto;
}
div{
    display: block;
}
.w3col2{
    float: right;
    width: 66.66666% ;
    text-align: left;
    padding: 0.15px 16px;
    margin: 16px 0px;
    font-size: 15px;
}
.below{
    font-size: 18px;
    text-align: left;
    margin: 0px 0px 16px;
}
.fas.fa-map-marker-alt::before{
    margin: 0px 16px 0px 0px;
    display: inline-block;
}
.fa-map-marker-alt:hover{
    color: black;
}
.fa-phone-alt:hover{
    color: black;
}


.fas.fa-phone-alt::before{
    margin: 0px 16px 0px 0px;
    display: inline-block;
}
.fas.fa-envelope::before{
    margin: 0px 16px 0px 0px;
    display: inline-block;
}
.fa-envelope:hover{
    color: black;
}

input{
    padding: 8px;
   
}
.half1{
    padding: 0px 8px 0px 0px;
 display: table-cell;
 width: 50%;
}
.half2{
    padding: 0px 0px 0px 8px;
 display: table-cell;
 width: 50%;
}
.rowp{
    width: 100%;
    display: table;
    padding: 0px;
    margin-bottom: 8px;
}
.btn1{
    color: #ffffff;
    background-color: black;
    border: none;
    -webkit-appearance:none;
    float:right;
    margin: 16px 0px;
    padding: 8px 16px;
}
.btn1:hover{
    color: black;
    background-color: #f1f1f1;
}
.fa-paper-plane{
    color: #ffffff;
}
.btn1:hover .fa-paper-plane{
    color: black;
}


.foot{
    text-align: center;
    background-color: #777777;
    width: 100%;
    padding: 64px 0px;
}
.foot:hover{
    background-color: black;
}
.foot:hover .fa-arrow-up{
    color: black;
}
.foot:hover .btn2{
    color: black;
}
.fa-arrow-up::before{
    margin: 0px 16px 0px 0px;
}
.btn2{
    padding: 8px 16px;
    color: #777777;
    background-color: white;
    border: none;
}
.btn2:hover{
    background-color: lightgray;
}
button{
    cursor: pointer;
}
.awesomee{
    color: white;
    margin: 16px 0px;
    padding: 8px;
}
.fa-facebook-square:hover{
    color: #777777;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #777777;
    cursor: pointer;
}
.fa-pinterest-p:hover{
    color: #777777;
    cursor: pointer;
}
.fa-snapchat:hover{
    color: #777777;
    cursor: pointer;
}
.fa-twitter:hover{
    color: #777777;
    cursor: pointer;
}
.fa-linkedin-in:hover{
    color: #777777;
    cursor: pointer;
}
.lastt{
    color: white;
}
a{
    color: white;
    text-decoration-line: underline;
}
a:hover{
    color: green;
}
@media only screen and (max-width:600px)
{
    .website{display: none;}
    .sec-left{width: 100%;}
    .sec-right{display: none;}
    .w3col{width: 100% }
    .w3col2{width: 100% }
    .half1{width: 100%;}
    .half2{width: 100%;}
    .half2{display:table-row;}
    .half1{display:table-row;}
    .eight-img{width: 100%; margin: 0px;}
    .blocks{width: 100%;}
}