.first-div{
    box-sizing: border-box;
    background-image: url ("Images/parallax1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    width: 100%;
    background-size: contain;
    height: 100%;
    background-size: 100% 100%;
}
.all{
    font-family: 'Lato', sans-serif;
    color: #777777;
}
h3{
    text-align: center;
    
}
.center{
    text-align: center;
}
.second-div{
    padding: 64px 16px;
    margin: 0px 76.5px;
}