.first-div{
    box-sizing: border-box;
    background-image: url ("Images/parallax1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    width: 100%;
    background-size: contain;
    height: 100%;
    background-size: 100% 100%;
}
h3{
    text-align: center; 
    font-size: 24px; 
    margin: 10px 0px;
    font-weight: 400;
}
.center{
    text-align: center;
}
.second-div{
    padding: 64px 16px;
    box-sizing: inherit;
    margin: auto;
    display: block;
    max-width: 980px;
    content: "";
    display: table;
    clear: both;
    padding-bottom: 0px;
}
.percentage{
    color: #000000;
    background: #f1f1f1;
}
.p90{
    color: #ffffff;
    background: #616161;
    width: 90%;
    text-align: center;
    padding: 4px 8px;

}
.p85{
    color: #ffffff;
    background: #616161;
    width: 85%;
    text-align: center;
    padding: 4px 8px;
}
.p75{
    color: #ffffff;
    background: #616161;
    width: 75%;
    text-align: center;
    padding: 4px 8px;
}
.wide{
    letter-spacing: 10px;
}
.rd-div{
    max-width: 980px;
    box-sizing: inherit;
    margin: auto;
    display: block;
}
.sec-left{
    text-align: center;
    width: 50%;
    padding: 12px 24px;
    float: left;
}
.sec-right{
    float: right;
    width: 50%;
    padding: 12px 24px;
}
.fa-user:before{
    margin-right: 16px;
}
p{
    margin: 15px 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}
.hov:hover {
    opacity: 1;
}
.hov{
    opacity: 0.5;
}
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #777777;
    line-height: 1.8;
}
.subtitle{
    margin: 18px 0px;
    padding: 16px 0px;
    font-size: 18px;
    text-align: center;
}
.forth-div{
    padding: 64px 16px;
    text-align: center;
    font-size: 15px;
}
.img-button{
    padding: 0px 8px;
    margin: 16px 0px;
}
.eight-img{
    display: inline-block;
    padding: 0px 8px;
    vertical-align: middle;
    width: 20%;
    margin-top: 16px;
}
.eight-img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.btn-light{
    padding: 12px 24px;
    margin: 64px 0px 0px;
    font-size: 15px;
    background: #F1F1F1;
    color: #000000;
}
.btn-light:hover{
    background-color: rgb(241, 241, 241)
}
